*{
  margin: 0;
  padding: 0;
}
html{
  width: 1600px;
  height: 1200px;
}
body{
  background-color: rgb(25, 25, 36);
  width: 1600px;
  height: 1200px;
}
*{
  font-family: Verdana, sans-serif;
}
.mainblock{
margin: 150px 150px;
width: 1300px;
height: 900px;
border-radius: 12px;
background-image: url(1.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.rightconbl{
  width: 550px;
  height: 900px;
  float: right;
}
.leftconbl{
  width: 750px;
  height: 900px;
  float: left;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: rgb(250,250,250)
}
.uptblock{
  width: 620px;
  height: 215px;
  float: left;
  padding: 65px 65px 20px 65px;
}
.mtblock{
  width: 750px;
  height: 450px;
  float: left;
}
.bttblock{
  border-top: 1px solid rgb(190, 190, 210);
  width: 670px;
  height: 110px;
  float: left;
  padding: 20px 20px 20px 60px;
}
h3{
  font-size: 10px;
  color: rgb(120, 120, 130);
}
h1{
  font-size: 55px;
  font-weight: lighter;
  margin: 20px 0px 20px -5px;
}
#text{
 color: rgb(170, 170, 180);
 line-height: 40px;
 font-size: 14px;
}
.blbutton{
  margin: 15px 150px 25px 100px;
  height: 85px;
  width: 500px;
  border: 1px solid rgb(190, 190, 210);
  border-radius: 12px;
  float: inherit;
}
#bttext{
  padding: 33px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#btpic{
  margin: 15px 15px 15px 40px;
  width: 55px;
  height: 55px;
  float:left;
}
#txl{
  margin: 70px 0px 0px 0px;
  float:left;
  text-align: center;
  color: rgb(78, 89, 76);
}
#txr{
  color: rgb(80, 156, 65);
  font-size: 12px;
  margin: 75px 115px -5px -5px;
  float:right;
  text-align: center;
}
